<ion-view view-title="Calorific">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Calorie count</div>
      <div class="item item-body">
        <div>
          Today Calories 1890
        </div>
      </div>
    </div>
	
	<div class="item item-divider">Calories Fun Facts</div>
	
	<div class="list card">
	  <a href="#" class="item item-icon-left">
		<i class="icon ion-happy"></i>
		There are no calories in tea or coffee (just in the milk and sugar)
	  </a>
	  <a href="#" class="item item-icon-left">
		<i class="icon ion-happy-outline"></i>
		The very act of eating uses up 85 calories an hour.
	  </a>
	  <a href="#" class="item item-icon-left">
		<i class="icon ion-happy"></i>
		Cooking for a dinner party uses up 120 calories an hour.
	  </a>
	  <a href="#" class="item item-icon-left">
		<i class="icon ion-happy-outline"></i>
		Vacuuming and dusting: 200 calories an hour.
	  </a>
	  <a href="#" class="item item-icon-left">
		<i class="icon ion-happy"></i>
		Making love burns 300 calories an hour.
	  </a>
	  <a href="#" class="item item-icon-left">
		<i class="icon ion-happy-outline"></i>
		Tap dancing burns 300 calories an hour.
	  </a>
	</div>
	
  </ion-content>
</ion-view>   <!--  home tab with list cards-->
