<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!--  Tab -->
  <ion-tab title="Meals" icon-off="ion-spoon" icon-on="ion-spoon" href="#/tab/chats">
    <ion-nav-view name="tab-meals"></ion-nav-view>
  </ion-tab>

</ion-tabs> <!-- tabs set up, icons, position..., home icon is changing on click, could not find alternative to spoon -->
